body {
	font-family: sans-serif;
	font-size: 36px;
}

h1 {
	color: rgb(0,0,0);
}

p {
	color: rgb(0,0,0);
	font-size: .5em;
}

a {
	color: rgb(50,50,50);
	background: rgba(150,0,100,.15);
	font-size: 1.5em;
	font-weight: 700;
	text-decoration: none;
	display: inline-block;
	margin: 0 auto;
	padding: 40px;
	clear: both;
}