@import url('https://fonts.googleapis.com/css?family=Anton|News+Cycle:700|Quattrocento+Sans|Sanchez|Source+Code+Pro:700');

body {
	font-size: 18px;
	color: #fbfbfb;
	background: black;

}

h1 {
	font-size: 2em;
	font-family: 'Anton', sans-serif;
	padding: 1%;

}

h2 {
	font-size: 3em;
	font-family: 'Anton', sans-serif;
	padding: 1%;

}

h3 {
	font-size: 3em;
	font-family: 'Source Code Pro', monospace;
	padding: 1%;
}

h4 {
	font-size: 3em;
	font-family: 'Quattrocento Sans', sans-serif;
	padding: 1%;
}

h5 {
	font-size: 3em;
	font-family: 'Sanchez', serif;
	padding: 1%;
}

h6 {
	font-size: 3em;
	font-family: 'News Cycle', sans-serif;
	padding: 1%;
}

p {
	padding: 1%;
	font-size: 2em;
}

img {

	padding: 20px;

}

a {
	color: #fbfbfb;
	text-decoration: none;
}

.logosml {
	font-size: .4em;

}

.logoname {
	font-weight: 500;
}

section {
}
/*
#wrapper {
	width: 820px;
	background: black;
}*/

.testparagraph {
	padding: 4px;
	margin-bottom: 60px;
	border-bottom: 1px dotted #fff;

}


.column {
	width: 70%;
	text-align: left;
	clear: both;
}


.topnav a {
    float: left;
/*    display: block;*/
    color: #a2a2a2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}