@import url('https://fonts.googleapis.com/css?family=Anton|Source+Sans+Pro');

body {
	font-family: 'Source Sans Pro', serif;
	font-size: 28px;
  background-color: #fff;
  text-align: left;
}

header {
  background-color: #000;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 12px;
  border-bottom: 16px solid rgb(206,43,55);
/*  border: 8px dotted pink;*/
}

p {
  font-size: .6em

}

a {
  text-decoration: none;
}

header a {
  /*text-decoration: none;*/
  text-transform: capitalize;
}

nav a {
  font-size: .65em;
  color: rgb(210,210,210);
  /*text-decoration: none;*/
  display: inline-block;
  width: 16%;
  padding: 1% 2%;
}

nav a:hover {
  color: rgb(255,255,255);
  font-weight: bolder;
  border-top: 2px solid white;
  padding: .8% 2%;
}

h1 {
  font-size: 1.3em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  padding-left: 4px;
/*  border: 4px dotted green;*/
}

h2 {
	font-size: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  text-align: left;
  width: 95%;
  padding: 12px 0 12px 4px;
  /*border: 4px dotted green;*/
}

h3 {
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  text-align: left;
  padding: 12px 0 12px 4px;
/*  border: 4px dotted green;*/
}

h4 {
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  padding: 12px 0;
 /* border: 4px dotted green;*/
}

h5 {  
  font-size: .5em;
  float: left;
  width: 45%;
  padding: .8%;}

ul {
  font-family: 'Source Sans Pro', sans-serif;
}

footer {
  background: #fff;
  color: #2a5b54;
  font-size: .5em;
  text-align: center;
  padding: 10px;
  clear: both;
}

#container {
  border-top: 16px solid rgb(0,146,70);
 /* background: gold;*/
  /*border: 8px dotted gold;*/
}

#mainarticle {
  padding: none;
  margin: 18px 2.5%;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
/*  border: 4px dotted orange;*/
}

#mainarticle p {
padding: 1.5% 0;
margin-top: 12px;
/*border: 2px dotted orange;*/
}

#mainarticle img {
  margin: 28px 0;
  width: 100%;
/*  border: 2px dotted red;*/
}

#heroimage {
  width: 48%;
  float: left;
}

#aside {
  width: 46%;
  float: right;
  margin: 6% 2% 2%;
}

#belowmain {
  background: #fff;
  display: inline-block;
  float: left;
  width: 60%;
  margin: 18px 12px 18px 2.5%;
  border-bottom: 1px solid lightgrey;
/*  border: 8px dotted purple;
  background: rgb(175,25,175);*/
}

#belowmain p {
  font-size: 16px;
  width: 90%;
  padding: 1.5%;
/*  border: 4px dotted orange;*/
}

#belowmain img {
  width: 100%;
/*  border: 4px dotted blue;*/
}

#main2a {
  width: 45%;
  float: left;
  padding-right: 28px;
  border-right: 1px solid lightgrey;
/*  background: grey;
  border: 8px dotted yellow;*/
}

#main2b {
  width: 45%;
  float: left;
  margin-left: 28px;
/*  border: 8px dotted red;
  background: rgb(255,100,100)*/
}

/*#vertline {
  width: 1px;
  background: lightgrey;
  float: left;
}*/

#main3 {
  display: inline-block;
  float: left;
  padding: 0 16px 0 16px;
  margin-top: 16px;
  clear:both;
  background: silver;
  border: 8px dotted black;
}

#main3 p {
  font-size: 16px;
}

#main3a {
  width: 29%;
  height: 500px;
  float: left;
  padding: 0 12px 0 0;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
/*  border: 8px solid yellow;*/
}

#main3b {
  width: 29%;
  height: 500px;
  float: left;
  padding: 0 16px;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
/*  border: 8px solid red;*/
}

#main3c {
  width: 29%;
  height: 500px;
  float: left;
  padding: 0 16px;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
/*  border: 8px solid orange;*/
}

#newscolumn {
  width: 28%;
  float: left;
  padding: 0 1.5%;
  margin: 18px 0;
  border-left: 1px solid lightgrey;
/*  border: 8px dotted turquoise;*/
}

#latest {
  font-size: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  text-decoration: underline;
  padding: 0 0 12px 0;
}

#currenttab {
  color: rgb(255,255,255);
  font-weight: bolder;
}

.readmore {
  color: grey;
  font-size: 12px;
  text-decoration: none;
}

.tag {
  color: rgb(206,43,55);
  font-size: .5em;
  display: inline-block;
  margin-bottom: 12px;
}

.newsem {  
  color: rgb(206,43,55);
  font-weight: bold;
}

#headersub {
    background-color: #000;
    text-align: center;
    padding: 40px;
}

.mobiletext {
  font-size: 2.2em;
  color: #888;
  font-weight: lighter;
  text-align: left;
  padding: 2%;
  margin: 1%;
}


#logotext {
  color: #fff;
  font-size: 42px;
  font-weight: 500;
  font-family: 'Anton', sans-serif;
/*  font-style: italic;
/*  width: 250px;*/
  padding: 10px 0;
  margin: 0 auto 20px;
/*  border: 5px solid #000;*/
}

#logotextsub {
  color: turquoise;
  font-size: 42px;
  font-weight: 500;
  font-family: 'Anton', sans-serif;
  font-style: italic;
  width: 250px;
  padding: 10px 0;
  margin: 0 auto;
  border: 10px solid turquoise;
}

.logosml {
  font-size: .4em;
  color: turquoise;
}

#content {
  background-color: #fff;
}

.headline {
  display: inline;
  float: left;
  text-align: center;
  font-size: 2.5em;
  width: 50%;
  padding: 4% 2%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media screen and (max-width: 1010px) {
  #heroimage {
    width: 100%;
    float: none;
    padding: none;
    margin: none;
  }
  #aside {
    width: 100%;
    float: none;
    margin: none;
    padding: none;
  }

  #mainarticle {
    width: 84%;
    margin: 18px 8%;
    font-size: 1.5em;
  }

  h1 {
    padding-left: 0;
  }

  #mainarticle img {
    width: 100%;
  }

  #belowmain {
    width: 89%;
    margin: 18px 8%;
    font-size: 1.5em;
  }

  #main2a {
    width: 44%;
  }

  #main2b {
    width: 44%;
  }

  nav a {
    display:none;
  }

  #mainarticle p {
    font-size: 1em;
  }

  #logotext {
    font-size: 3em;
  }
  
  h2 {
    font-size: 1em;
  }
}

@media screen and (max-width: 1140px) {
  #aside {
    margin: 2% 0;
  }
}

@media screen and (max-width: 726px) {
  h1 {
    font-size: 1em
  }

  #mainarticle p {
    font-size: .75em;
  }
   
   nav a {
    font-size: .4em;
  }

  #main2a {
    width: 90%;
    padding-bottom: 18px;
    border-bottom: 1px solid lightgrey;
    border-right: none;
  }

  #main2a p {
    width: 60%;
  }

  #main2a img {
    width: 140px;
    float: right;
  }

  #main2b {
    width: 90%;
    margin: 18px 0;
    margin-left: 0;
  }

  #main2b p{
    width: 70%;
  }
 
  #main2b img {
    width: 140px;
    float: right;
  }
}
