@import url('https://fonts.googleapis.com/css?family=Anton|News+Cycle:700|Quattrocento+Sans|Sanchez|Source+Sans+Pro|Oswald');

body {
	font-family: 'Sanchez', serif;
	font-size: 34px;
  text-align: center;
  background: #2a5b54;

}

h1 {
	font-size: 36px;
  font-weight: 500;
	font-family: 'Anton', sans-serif;
	padding: 1%;

}

h2 {
	font-size: 1.75em;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
	color: black;
	padding: 1%;

}

h3 {
	font-size: 2em;
	font-family: 'Anton', sans-serif;
	padding: 1%;
}

h4 {
	font-size: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
	padding: 1%;
}

p {
  padding: 1%;
}

img {

	padding: 20px;

}

a {
  color: #000;
	text-decoration: none;
  margin: 0 auto
}

header {
  text-align: left;
  border-bottom: 6px solid turquoise;
  clear: both;
}

section {


}

footer {
  clear: both;
}

ul {
  font-family: 'Source Sans Pro', sans-serif;
}

#wrapper {
  width: 900px;
  margin: 0 auto;
}

#container {
	width: 820px;
}

#article {
  float: left;
  width: 69%;
  padding: 1.5%;
  clear: both;
}

#aside {
  float: right;
  width: 28%;
}

#content {
}

.headline {
  font-size: 2.5em;
  margin: 1.5% auto;
}

.mobiletext {
  font-size: 2.2em;
  color: #888;
  font-weight: lighter;
  text-align: left;
  padding: 2%;
  margin: 1%;
}

.logosml {
  font-size: .4em;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;

}