@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Roboto');

body {
	font-family: "Roboto", sans-serif;
	font-size: 36px;
	color: black;
	text-align: center;
}

h1 {
	font-size: 6em;
	font-weight: 700;
	line-height: 1.5em;
	/*color: #FF00FF;*/
}

img {
	height: 140px;
	background-color: white;
	padding: 10px;
	margin: 5px;
}

h2 {
	font-size: 2em;
	/*color: #FF00FF;*/
	font-weight: 700;
}

p {
	font-size: 1em;
	/*color: #FF00FF;*/
	font-weight: 300;
}

a {
	color: black;
	display: inline;
	text-decoration: none;
}


header {
/*	color: #BF00FF;*/

}

nav {	

}

ul {
	display: inline-block;
}
footer {
/*	background-color: #C5C5C5;*/
	font-size: 12px;
	padding: 40px;
	margin: 40px;
}

a:hover {
	color: #00A5E1;
}

#wrapper {
	width: 90%;
	margin: 0 auto;
}

#article {
	/*background-color: orange;*/
	margin: 10px auto;
	padding: 20px 0;
	width: 75%;
}

#art2 {	
	font-size: 2em;
	background-color: #00E1DD; 
	font-weight: 700;
	width: 500px;
	display: block;
	text-decoration: none;
	padding: 20px;
	margin: 40px auto;
	border: 3px solid #00E1DD;
	clear: both;
}

#aqua {	
	background-color: #00E1DD;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;

