@import url('https://fonts.googleapis.com/css?family=Maven+Pro:100,900|Roboto');

body {
	font-size: 12px;
	color: #FDFFE2;
	background: #000;
}

header {
	text-transform: lowercase;

}

h1,h2,h3 {
	font-family: 'Maven Pro', sans-serif;
	font-weight: 900;
	color: #FDFFE2;
}

h1 {
	font-size: 2.75em;
	padding: 0 .5em;
}

h2 {	
	font-size: 6em;
}

h3 {
	font-size: 2em;
	border-bottom: 4px solid gold;
	display: inline-block;
	padding: 1em 0;
}

/*span {
	border-bottom: 6px solid #FDFFE2;*/
}

p {
	font-family: 'Roboto', sans-serif;
	color: #FDFFE2;
	padding-top: 1em;
	text-align: left;
}

a {
	font-family: 'Maven Pro:100', sans-serif;
	font-size: 1.5em;
	font-weight: 100;
	color: gold;
  	text-decoration: none;
  	width: 100px;
  	display: inline-block;
}

a:hover {
/*	background-color: gold;*/
	color: #FDFFE2;
	font-weight: bolder;
/*	text-decoration: underline;
	text-decoration-color: black;*/
}

ul {
	font-family: 'Roboto', sans-serif;
	color: #FDFFE2;
	list-style: none;
	font-size: 1em;
	text-transform: lowercase;
	text-align: left;
}

img {
	height: 400px;
	padding: 1em;
	border: 4px solid #FDFFE2;
	margin: 1em;
}


nav {
	text-align: left;
	display: inline-block;
	float: right;
	padding: 10px 0;
	clear: both;
}

aside {
	width: 100%;
	margin: 10px;
	text-align: center;

}
footer {
	color: red;
	text-align: center;
	padding: 2em 0 0 0;
	clear:both;
}

#wrapper {
	width: 90%;
	margin: 20px;
	background: #000;
}

#hero {
	display: inline-block;
	float:left;
	width: 35%;
	margin: 10px 0;
	clear: both;
	background: #000;
}

#slogan {
	display: inline-block;
	float: right;
	width: 65%;
	margin: 10px 0;
	padding: 17.1em 0;
	background: black;
}

#about {
	display: inline-block;
	float:left;
	width: 30%;
	margin:0 2%;
}

#services {
	display: inline-block;
	float: left;
	width: 30%;
	margin:0 0 0 2%;
}

#contact {
	display: inline-block;
	float: left;
	width: 30%;
	margin:0 0 0 2%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
