body {
	color: lightcoral;
	background: #000;
	font-family: "Trebuchet MS Narrow", sans-serif;
	margin: 0px 15px 20px 15px;

}
h1 {
	font-size: 28pt;
	font-family: "Trebuchet MS Narrow";
	text-transform: lowercase;
	text-align: left;
}

a {
	font-family: "Gill Sans", sans-serif;
	text-transform: lowercase;
	color: #FDFFE2;
	text-align: right;
}

ul {
	list-style-type: none;
	font-weight: bold;
	font-size: 22px;
	text-transform: lowercase;
	text-align: center;
}

img {
	height: 400px;
	margin: 10px 0px 0px 0px;
	float: left;
}

#slogan {	
	font-size: 82pt;
	font-family: "Gill Sans", sans-serif;
	font-weight: bold;
	color: #FDFFE2;
	font-style: italic;
	text-align: center;
	margin: 100px 100px 80px 100px;
}

.desc {
	font-size: 12pt;
	font-family: "Gill Sans", sans-serif;
	font-style: italic;
	text-align: justify;
	margin: 0px 848px 00px 0px;
}