@import url('https://fonts.googleapis.com/css?family=Maven+Pro:900|Roboto');

body {
	color: #FDFFE2;
	background: #000;
	font-size: 22px;
	font-family: "Roboto", sans-serif;
}
h1 {
	font-size: 1.5em;
	font-family: "Maven Pro";
	text-transform: lowercase;
	text-align: left;
}

a {
	font-family: "Roboto", sans-serif;
	text-transform: lowercase;
	color: #FDFFE2;
}

ul {
	list-style-type: none;
	font-weight: normal;
	font-family: "Roboto";
	font-size: 1em;
	text-transform: lowercase;
	text-align: center;
}

#heroimage {
	padding: 4px;
	border: 4px solid #FDFFE2;
}

header {
	padding: 24px 0;
}

aside {	
	font-size: 3.5em;
	font-family: "Maven Pro", sans-serif;
	font-weight: bold;
	color: #FDFFE2;
	text-align: center;
	width: 70%;
	clear:both;
}

.img__img {
  float: left;
  padding: 4px;
  border: 4px solid #FDFFE2;
}

.img__wrap {
  position: relative;
  height: 531px;
  width: 420px;
}

.img__description {
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 8px;
  right: 0;
  background: rgba(29, 106, 105, 0.76);
  text-align: center;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: opacity .8s, visibility .8s;
}

.pt1 {
  color: #FDFFE2;
  font-size: .8em;
  font-weight: 300;
}

.logo {
  font-family: "Maven Pro";
  color: #FDFFE2;
  font-size: 1.75em;
  text-transform: lowercase;
  line-height: 2;
}

.pt3 {
  color: #FDFFE2;
  font-size: .8em;
  font-weight: 300;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}